In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create an empty data frame

empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [3]:
# Create a simple data frame using array

data_arr = [10, 20, 30, 40, 50]
num_df = pd.DataFrame(data_arr)
print(num_df)

    0
0  10
1  20
2  30
3  40
4  50

In [4]:
data = {
    "Subject" : ["Malayalam", "Mathematics", "English", "Hindi"],
    "Marks" : [95, 90, 96, 99]
}

marks_df = pd.DataFrame(data)
print(marks_df)

       Subject  Marks
0    Malayalam     95
1  Mathematics     90
2      English     96
3        Hindi     99

In [5]:
data = [ 
    ["Malayalam", 95], 
    ["Mathematics", 90], 
    ["English", 96], 
    ["Hindi", 99]
]

marks_df = pd.DataFrame(data)
print(marks_df)

             0   1
0    Malayalam  95
1  Mathematics  90
2      English  96
3        Hindi  99

In [6]:
data = [ 
    ["Malayalam", 95], 
    ["Mathematics", 90], 
    ["English", 96], 
    ["Hindi", 99]
]

marks_df = pd.DataFrame(data, columns=["Subject", "Mark"])
print(marks_df)

       Subject  Mark
0    Malayalam    95
1  Mathematics    90
2      English    96
3        Hindi    99

In [16]:
data = [ 
    ["Malayalam", 95], 
    ["Mathematics", 90], 
    ["English", 96], 
    ["Hindi", 99]
]

marks_df = pd.DataFrame(data, index=["MainLanguage", "Required", "SecondLanguage", "Optional"])
print(marks_df)

                          0   1
MainLanguage      Malayalam  95
Required        Mathematics  90
SecondLanguage      English  96
Optional              Hindi  99

In [21]:
data = [ 
    {"Malayalam": 95}, 
    {"Mathematics": 90}, 
    {"English": 96}, 
    {"Hindi": 99}
]

marks_df = pd.DataFrame(data)
print(marks_df)

   Malayalam  Mathematics  English  Hindi
0       95.0          NaN      NaN    NaN
1        NaN         90.0      NaN    NaN
2        NaN          NaN     96.0    NaN
3        NaN          NaN      NaN   99.0

In [22]:
data = [ 
    {"Malayalam": 95, "Mathematics": 90, "English": 96, "Hindi": 99}, 
    {"Mathematics": 90}, 
    {"English": 96}, 
    {"Hindi": 99}
]

marks_df = pd.DataFrame(data)
print(marks_df)

   Malayalam  Mathematics  English  Hindi
0       95.0         90.0     96.0   99.0
1        NaN         90.0      NaN    NaN
2        NaN          NaN     96.0    NaN
3        NaN          NaN      NaN   99.0